.date-property {
  .date {
    font-size: $frost-font-xs;
    color: $frost-color-grey-5;
  }
  .time {
    font-size: $frost-font-xs;
    color: $frost-color-grey-1;
  }
  .time-zone {
    font-size: $frost-font-xs;
    color: $frost-color-grey-5;
  }
}