<div class = "columns">
    {{property-small-view label='label' value='lorem ip sum'}}

    {{property-small-view label='very long long long long long long label  ' value='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac diam vel nibh efficitur interdum. Curabitur convallis eros sed turpis imperdiet, eget lacinia nibh rhoncus. Praesent ultrices mollis erat, eu eleifend mi facilisis non. Mauris hendrerit hendrerit nisl eget imperdiet. Nulla ipsum arcu, ultricies nec odio vel, vulputate hendrerit dui. Sed sed quam turpis. Nulla quis urna vitae sapien ultrices accumsan. Nunc sit amet arcu tortor. Sed urna ex, convallis a lec'}}        
</div>

{{#if isExpanded}}
<div class = "columns">
    {{property-large-view label='label' value='lorem ip sum'}}

    {{property-large-view label='very long long long long long long label  ' value='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac diam vel nibh efficitur interdum. Curabitur convallis eros sed turpis imperdiet, eget lacinia nibh rhoncus. Praesent ultrices mollis erat, eu eleifend mi facilisis non. Mauris hendrerit hendrerit nisl eget imperdiet. Nulla ipsum arcu, ultricies nec odio vel, vulputate hendrerit dui. Sed sed quam turpis. Nulla quis urna vitae sapien ultrices accumsan. Nunc sit amet arcu tortor. Sed urna ex, convallis a lec'}}  
</div>
{{/if}}